<div class="page-loader">
  <div class="page-loader__content logo-animate">
    {% render 'brand-logo', class: 'loader-icon' %}
    <h2 class="font-heading" style="color: var(--color-brand-black); margin-top: 1rem;">Sugar & Spice</h2>
  </div>
</div>

<style>
  .loader-icon {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
  }
</style>
